@media (max-width: 767px) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
    body {
        padding-top: 50px;
    }
}

#app-root {
    max-width: 1024px;    
}
.enc-analyzer .col-sm-2 {
    text-align: right;
}
.enc-analyzer input[type=text] {
    width: 100%;
}
.enc-analyzer input[readonly] {
    background-color: #eee;
}
.enc-analyzer textarea {
    width: 100%;
    height: 80px;
}
.f-0 .c-0
,.f-1 .c-1
,.f-2 .c-2
,.f-3 .c-3
,.f-4 .c-4
,.f-5 .c-5
,.f-6 .c-6
,.f-7 .c-7
,.f-8 .c-8
,.f-9 .c-9
,.f-10 .c-10
,.f-11 .c-11
,.f-12 .c-12
,.f-13 .c-13
,.f-14 .c-14
,.f-15 .c-15
,.f-16 .c-16
,.f-17 .c-17
,.f-18 .c-18
,.f-19 .c-19
,.f-20 .c-20
,.f-21 .c-21
,.f-22 .c-22
,.f-23 .c-23
,.f-24 .c-24
,.f-25 .c-25
,.f-26 .c-26
,.f-27 .c-27
,.f-28 .c-28
,.f-29 .c-29
,.f-30 .c-30
,.f-31 .c-31
,.f-32 .c-32
,.f-33 .c-33
,.f-34 .c-34
,.f-35 .c-35
,.f-36 .c-36
,.f-37 .c-37
,.f-38 .c-38
,.f-39 .c-39
,.f-40 .c-40
,.f-41 .c-41
,.f-42 .c-42
,.f-43 .c-43
,.f-44 .c-44
,.f-45 .c-45
,.f-46 .c-46
,.f-47 .c-47
,.f-48 .c-48
,.f-49 .c-49
,.f-50 .c-50
,.f-51 .c-51
,.f-52 .c-52
,.f-53 .c-53
,.f-54 .c-54
,.f-55 .c-55
,.f-56 .c-56
,.f-57 .c-57
,.f-58 .c-58
,.f-59 .c-59
,.f-60 .c-60
,.f-61 .c-61
,.f-62 .c-62
,.f-63 .c-63
,.f-64 .c-64
,.f-65 .c-65
,.f-66 .c-66
,.f-67 .c-67
,.f-68 .c-68
,.f-69 .c-69
,.f-70 .c-70
,.f-71 .c-71
,.f-72 .c-72
,.f-73 .c-73
,.f-74 .c-74
,.f-75 .c-75
,.f-76 .c-76
,.f-77 .c-77
,.f-78 .c-78
,.f-79 .c-79
,.f-80 .c-80
,.f-81 .c-81
,.f-82 .c-82
,.f-83 .c-83
,.f-84 .c-84
,.f-85 .c-85
,.f-86 .c-86
,.f-87 .c-87
,.f-88 .c-88
,.f-89 .c-89
,.f-90 .c-90
,.f-91 .c-91
,.f-92 .c-92
,.f-93 .c-93
,.f-94 .c-94
,.f-95 .c-95
,.f-96 .c-96
,.f-97 .c-97
,.f-98 .c-98
,.f-99 .c-99
,.f-100 .c-100
,.f-101 .c-101
,.f-102 .c-102
,.f-103 .c-103
,.f-104 .c-104
,.f-105 .c-105
,.f-106 .c-106
,.f-107 .c-107
,.f-108 .c-108
,.f-109 .c-109
,.f-110 .c-110
,.f-111 .c-111
,.f-112 .c-112
,.f-113 .c-113
,.f-114 .c-114
,.f-115 .c-115
,.f-116 .c-116
,.f-117 .c-117
,.f-118 .c-118
,.f-119 .c-119
,.f-120 .c-120
,.f-121 .c-121
,.f-122 .c-122
,.f-123 .c-123
,.f-124 .c-124
,.f-125 .c-125
,.f-126 .c-126
,.f-127 .c-127
,.f-128 .c-128
,.f-129 .c-129
,.f-130 .c-130
,.f-131 .c-131
,.f-132 .c-132
,.f-133 .c-133
,.f-134 .c-134
,.f-135 .c-135
,.f-136 .c-136
,.f-137 .c-137
,.f-138 .c-138
,.f-139 .c-139
,.f-140 .c-140
,.f-141 .c-141
,.f-142 .c-142
,.f-143 .c-143
,.f-144 .c-144
,.f-145 .c-145
,.f-146 .c-146
,.f-147 .c-147
,.f-148 .c-148
,.f-149 .c-149
,.f-150 .c-150
,.f-151 .c-151
,.f-152 .c-152
,.f-153 .c-153
,.f-154 .c-154
,.f-155 .c-155
,.f-156 .c-156
,.f-157 .c-157
,.f-158 .c-158
,.f-159 .c-159
,.f-160 .c-160
,.f-161 .c-161
,.f-162 .c-162
,.f-163 .c-163
,.f-164 .c-164
,.f-165 .c-165
,.f-166 .c-166
,.f-167 .c-167
,.f-168 .c-168
,.f-169 .c-169
,.f-170 .c-170
,.f-171 .c-171
,.f-172 .c-172
,.f-173 .c-173
,.f-174 .c-174
,.f-175 .c-175
,.f-176 .c-176
,.f-177 .c-177
,.f-178 .c-178
,.f-179 .c-179
,.f-180 .c-180
,.f-181 .c-181
,.f-182 .c-182
,.f-183 .c-183
,.f-184 .c-184
,.f-185 .c-185
,.f-186 .c-186
,.f-187 .c-187
,.f-188 .c-188
,.f-189 .c-189
,.f-190 .c-190
,.f-191 .c-191
,.f-192 .c-192
,.f-193 .c-193
,.f-194 .c-194
,.f-195 .c-195
,.f-196 .c-196
,.f-197 .c-197
,.f-198 .c-198
,.f-199 .c-199
,.f-200 .c-200
,.f-201 .c-201
,.f-202 .c-202
,.f-203 .c-203
,.f-204 .c-204
,.f-205 .c-205
,.f-206 .c-206
,.f-207 .c-207
,.f-208 .c-208
,.f-209 .c-209
,.f-210 .c-210
,.f-211 .c-211
,.f-212 .c-212
,.f-213 .c-213
,.f-214 .c-214
,.f-215 .c-215
,.f-216 .c-216
,.f-217 .c-217
,.f-218 .c-218
,.f-219 .c-219
,.f-220 .c-220
,.f-221 .c-221
,.f-222 .c-222
,.f-223 .c-223
,.f-224 .c-224
,.f-225 .c-225
,.f-226 .c-226
,.f-227 .c-227
,.f-228 .c-228
,.f-229 .c-229
,.f-230 .c-230
,.f-231 .c-231
,.f-232 .c-232
,.f-233 .c-233
,.f-234 .c-234
,.f-235 .c-235
,.f-236 .c-236
,.f-237 .c-237
,.f-238 .c-238
,.f-239 .c-239
,.f-240 .c-240
,.f-241 .c-241
,.f-242 .c-242
,.f-243 .c-243
,.f-244 .c-244
,.f-245 .c-245
,.f-246 .c-246
,.f-247 .c-247
,.f-248 .c-248
,.f-249 .c-249
,.f-250 .c-250
,.f-251 .c-251
,.f-252 .c-252
,.f-253 .c-253
,.f-254 .c-254
,.f-255 .c-255
 {
    color: red;
    background-color: white;;
}

.char {
    border: 1px solid gray;
    padding: 2px;
    text-align: center;
    margin-right: 1px;
    cursor: pointer;
}
.orig-text > div {
    display: flex;
    flex-direction: row;
}
.orig-text .char {
    width: 1.5em;
    height: 1.8em;
}
.char-disp {
    background-color: #eee;
    padding: 6px;
    min-height: 1.8em;
}
.char .byte {
    text-align: center;
    padding: 0;
    margin: 0;
}

.col-sm-9 {
    margin-left: 0;
}